*{
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
    Font-size: 18px;
    --bk:hsl(185, 75%, 39%);
    --vD-desaturated:hsl(229, 23%, 23%);
    --Darkgray:hsl(227, 10%, 46%);
}
body{
    height: 100vh; 
    display: grid; 
    place-items: center; 
    background: var(--bk);
    color: var(--vD-desaturated);
} 
main{
    width: 450px;
    margin: auto;
    background: rgb(255, 255, 255);
    border-radius: 25px;
}
.bk{
    width: 100%;
    border-radius: 25px 25px 0 0 ;
}
.victor{
    position: absolute;
    border-radius: 50px;
    top: 28%;
    left: 47%;
    border: 5px solid white;
}
.sec2{
    text-align: center;
    padding-top: 15%;
}
.sec2 p,span{
    color: var(--Darkgray);
} 
.sec3{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    line-height: 1%;
}
.sec3 p:nth-child(-n+3){ 
    font-weight: 600;
    font-size: larger;
}
.sec3 p:nth-child(n+4){
    color: var(--Darkgray);
}
hr{
    border: 1px solid var(--Darkgray);
}